<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with image</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dobry den, Milane!
        </p>
            Mate novou zpravu od <b th:text="${name}"></b> <br/>
        <u>Zprava od zakaznika: </u> <br/>
        <h4 th:text="${message}"></h4>
        <u> Kontakt na zakaznika: </u> <br/>
        <span th:text="${'adresa: ' +adresa+ ', ' +mesto+ ', ' +psc}"></span> <br/>
        <span th:text="${'region: ' +region}"></span> <br/>
        <span th:text="${'telefon: ' + telefon}"></span> <br/>
        <span th:text="${'email: ' +email}"></span><br/>
        <p>
            Zdravi, <br />
            <em>Vellu Java Service</em>
        </p>
        <p>
            <b>S pozdravem EMPE nudle <br/> </b>
            navstivte nas EMPE web: <br/>
            <a href="empenudle.herokuapp.com"> empenudle.herokuapp.com </a>
        </p>
    </body>
</html>